@page "/"
@using Grpc.Core
@using BlazorClient.Protos
@inject Greeter.GreeterClient GrpcClient
@inject IJSRuntime JS

<button @onclick="CallGrpc">Wywołaj gRPC</button>

<p>@response</p>

@code {
    string response;

    async Task CallGrpc()
    {
        try
        {
            var accessToken = await JS.InvokeAsync<string>("localStorage.getItem", "access_token");

            var headers = new Metadata
            {
                { "Authorization", $"Bearer {accessToken}" }
            };

            var reply = await GrpcClient.SayHelloAsync(new HelloRequest { Name = "Blazor user" }, headers);

            response = reply.Message;
        }
        catch (Exception ex)
        {
            response = $"Błąd: {ex.Message}";
        }
    }
}
